<!doctype html>
<html lang="it">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="./node_modules/vue-toasted/dist/vue-toasted.min.css" rel="stylesheet" />
  <link href="./index.css" rel="stylesheet" />
  <title>JukeBox</title>
</head>

<body>
  <div id="app">

    <div class="playlist" v-if="showplaylist == true">
      <div class="col-12">
        <div style="float:right;margin-top: 1.2rem;">
          <button v-on:click="showplaylist=false">Chiudi</button>
        </div>
        <h1 style="color: #dc3545; padding: 1rem;">In coda</h1>
        <h5 v-if="this.playlist.length == 0" style="    color: rgb(199, 199, 199); padding: 1rem;">Nessun brano in coda</h5>
        <div style="display: flex;align-items: left;  flex-flow: column;">
          <div v-for="song in playlist" style="display: flex; padding:1rem; align-items: center; ">
            <img class="card-img-top" v-bind:src="song.image" style="width:100px; height:100%;border-radius:50%">
            <div style="margin-left:1rem">
              <p class="card-text" style="color: #ffffff;">{{song.title}}
                <br>
                <span style="color:#aaaaaa">{{song.author}} - {{song.album}} - {{song.year}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar fixed-top navbar-light" style="background: #282828; color: #c8c8c8; justify-content: left; align-items: end;">
      <div style="display: flex; flex-grow: 1;  ">
        <button v-bind:class="{ selected: this.selectedCategory == null }" v-on:click="selectedCategory = null">Tutti i brani</button>
        <button v-bind:class="{ selected: this.selectedCategory == 'Dance' }" v-on:click="selectedCategory = 'Dance'">Dance</button>
        <button v-bind:class="{ selected: this.selectedCategory == 'RockERoll' }" v-on:click="selectedCategory = 'RockERoll'">Rock&Roll</button>
        <button v-bind:class="{ selected: this.selectedCategory == 'Latina' }" v-on:click="selectedCategory = 'Latina'">Latina</button>
        <button v-bind:class="{ selected: this.selectedCategory == 'Pop' }" v-on:click="selectedCategory = 'Pop'">Pop</button>
        <button v-bind:class="{ selected: this.selectedCategory == 'Italiana' }" v-on:click="selectedCategory = 'Italiana'">Italiana</button>
      </div>
       <div style="display: flex;"> 
         <button v-bind:class="{ selected: this.order_type == 'author' }" v-on:click="order_type = 'author'">Ordina per artista</button>
         <button v-bind:class="{ selected: this.order_type == 'year' }" v-on:click="order_type = 'year'">Ordina per anno</button> 
       </div> 
    </nav>
	

	
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4" v-on:click="play(song)" style="width: 18rem; " v-for="song in ordered_songs" >
          <div class="card">
            <img class="card-img-top" v-bind:src="song.image" style="   box-shadow: #111111 0px 0px 15px 1px;">
            <div class="card-body" style="padding-left: 3px;">
              <p class="card-text">{{song.title}}
                <br>
                <span style="color:#aaaaaa">{{song.author}} - {{song.album}} - {{song.year}}</span>
                <br>
                <span v-if=" _.find(self.playlist, function (o) { return o.title == song.title; })">Brano in coda</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar fixed-bottom navbar-light" style="z-index:1510; background: #282828; color: #c8c8c8; padding:0px; justify-content:left">
      <div style=" width:100%;  ">
        <div style="display: flex;align-items: center;  margin: 1rem;  " v-if="nowplaying != null">
          <img class="card-img-top" v-bind:src="nowplaying.image" style="width:50px; height:100%;border-radius:50%">
          <div style="margin-left:1rem">
            <p class="card-text">{{nowplaying.title}}
              <br>
              <span style="color:#aaaaaa">{{nowplaying.author}} - {{nowplaying.album}}</span>
            </p>
          </div>
          <div style="margin-left:2rem; margin-right:2rem">{{seek}}</div>
          <div style="background-color: #495057; flex-grow: 1; ">
            <div style="background-color:#dc3545; height:4px;" v-bind:style="{ width:nowplaying_perc }"></div>
          </div>
          <div style="margin-left:2rem; margin-right:2rem">{{duration}}</div>
          <div style="margin-left:2rem; margin-right:2rem">
            <button v-bind:class="{ selected: this.showplaylist == true }" v-on:click="showplaylist=!showplaylist">Brani in coda</button>
          </div>
        </div>
      </div>
    </nav>

  </div>

  <script src="./node_modules/jquery/dist/jquery.min.js"> </script>
  <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"> </script>
  <script src="./node_modules/vue/dist/vue.min.js"> </script>
  <script src="./node_modules/howler/dist/howler.min.js"> </script>
  <script src="./node_modules/lodash/lodash.js"> </script>
  <script src="./node_modules/vue-toasted/dist/vue-toasted.min.js"> </script>
  <script src="./songs.js"></script>

  <script type="text/javascript">
    var sound;
    Vue.use(Toasted);
    var app = new Vue({
      el: '#app',
      data: {
        songs: json,
        selectedCategory: null,
        nowplaying: null,
        playlist: [],
        nowplaying_perc: null,
        seek: null,
        duration: null,
        order_type: 'year',
        showplaylist: false,
      },
      computed: {
        ordered_songs: function () {
		  var self = this;
          var order_sense = this.order_type == 'year' ? ['desc'] : ['asc'];
          var orderarray = _.orderBy(this.songs, this.order_type, order_sense); 
		  return _.filter(orderarray,  function(song) { return (song.category == self.selectedCategory || self.selectedCategory == null);});
        }
      },
      methods: {
        play: function (song) {

          //se nowplaying != null aggiungi in lista d'attesa fino ad un massimo di 3 canzoni
          self = this;
          if (self.nowplaying != null) {
            if (self.playlist.length < 3) {

              var already_selected = _.find(self.playlist, function (o) { return o.title == song.title; });

              if (!already_selected) {
                self.playlist.push(song);
                Vue.toasted.show('Brano aggiunto in coda', {
                  position: "bottom-left",
                  duration: 5000,
                  fullWidth: false,
                  className: 'red',
                  singleton: true,
                });
              } else {

                Vue.toasted.show('Brano già presente in coda', {
                  position: "bottom-left",
                  duration: 5000,
                  fullWidth: false,
                  className: 'red',
                  singleton: true,
                });
              }

            } else {
              Vue.toasted.show('Non è possibile aggiungere altri brani in coda', {
                position: "bottom-left",
                duration: 5000,
                fullWidth: false,
                className: 'red',
                singleton: true,
              });
            }
          } else {
            self.nowplaying = song;
            if (sound != undefined) {
              sound.stop();
            }
            self.nowplaying_perc = '0%';
            sound = new Howl({
              src: song.audio,
              autoplay: false,
              loop: false,
              volume: 0.5,
              onplay: function () {
                var minutes = Math.floor(sound.duration() / 60);
                var seconds = Math.floor(sound.duration() - minutes * 60);
                self.duration = minutes + ':' + (seconds < 10 ? '0' + seconds : seconds);
                setInterval(function () {
                  var minutes_s = Math.floor(sound.seek() / 60);
                  var seconds_s = Math.floor(sound.seek() - minutes_s * 60);
                  self.seek = minutes_s + ':' + (seconds_s < 10 ? '0' + seconds_s : seconds_s);
                  self.nowplaying_perc = sound.seek() / sound.duration() * 100 + '%';
                }, 500);
              },
              onend: function () {
                self.nowplaying = null;
                console.log(self.playlist.lenght);
                if (self.playlist.length > 0) {
                  self.play(self.playlist[0]);
                  self.playlist.splice(0, 1);
                } else {
                  //metti canzone random
                  self.play(_.sample(self.songs));


                }

              }
            });
            sound.play();
          }
        }
      }
    });
  </script>
</body>

</html>